<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index Page for All Animals</h1>
    <p>
        <% for (animal of animals) { %>

            <a href="/animals/<%= animal._id%>"> <%= animal.species %> </a>
        <% } %>

    </p>
    <br>
    <a href="/animals/new"><button>Create a new Animal</button></a>
    <br>
</body>
</html>